<div class="container">

  <div class="top-container">

    <div *ngIf="gameStatus == 0">
      <button *ngIf="gameStatus == 0" type="button" name="button" (click)="startGame()">start game</button>
      <p>Task:<br />Select the larger value between the left and right blocks.<br />You are given a limited time to perform calculations and selections.
    </div>

    <div *ngIf="gameStatus == 1">
      <button *ngIf="gameStatus == 1" type="button" name="button" (click)="stopGame()">stop game</button>
      <p>Lives: <mat-icon *ngFor="let l of [].constructor(gameLives)" [ngClass]="{'critical-health': gameLives < 3}">favorite</mat-icon></p>
      <p>Time: {{ timeLeft }}</p>
      <p>Level: {{ level }}</p>
      <p>Click on a <b>larger</b> value:</p>
    </div>

    <div *ngIf="gameStatus == 2">
      <p>Game over</p>
      <p>Your level: {{ level }}</p>
      <button *ngIf="gameStatus == 2" type="button" name="button" (click)="startGame()">start over</button>
    </div>

  </div>

  <div *ngIf="gameStatus == 0" class="mid-container">
    <div class="condition-block condition" (click)="showMessage('First of all, start the game!')">
        <mat-icon>accessibility</mat-icon><span class="sign">+</span><mat-icon>anchor</mat-icon>
    </div>
    <div class="condition-block">?</div>
    <div class="condition-block condition" (click)="showMessage('First of all, start the game!')">
        <mat-icon>build</mat-icon><span class="sign">+</span><mat-icon>phone</mat-icon>
    </div>
  </div>

  <div *ngIf="gameStatus == 1" class="mid-container">
    <div class="condition-block condition" (click)="getAnswer('left')">
      <div *ngIf="taskLeft">
        <mat-icon>{{ icons[taskLeft.left] }}</mat-icon><span class="sign">{{ getSign(taskLeft.operator) }}</span><mat-icon>{{ icons[taskLeft.right] }}</mat-icon>
        <!-- {{ taskLeft.left }} {{ getSign(taskLeft.operator) }} {{ taskLeft.right }} -->
      </div>
    </div>
    <div class="condition-block">?</div>
    <div class="condition-block condition" (click)="getAnswer('right')">
      <div *ngIf="taskRight">
        <mat-icon>{{ icons[taskRight.left] }}</mat-icon><span class="sign">{{ getSign(taskRight.operator) }}</span><mat-icon>{{ icons[taskRight.right] }}</mat-icon>
        <!-- {{ taskRight.left }} {{ getSign(taskRight.operator) }} {{ taskRight.right }} -->
      </div>
    </div>
  </div>

  <div *ngIf="gameStatus == 0" class="bot-container">
      <div *ngFor="let i of [].constructor(10); let n = index" class="value-pair">
        <div class="value-pair-val"><mat-icon>{{ icons[n] }}</mat-icon></div>
        <div class="value-pair-val">{{ n }}</div>
      </div>
  </div>

  <div *ngIf="gameStatus == 1" class="bot-container">
    <div *ngFor="let n of nums" class="value-pair">
      <div class="value-pair-val"><mat-icon>{{ icons[n] }}</mat-icon></div>
      <div class="value-pair-val">{{ n }}</div>
    </div>
  </div>


</div>
